.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  padding-top: 10vh;
  text-shadow: 0.03em 0 rgba(0, 0, 0, 0.705), 0 0.03em rgba(0, 0, 0, 0.705),
    -0.03em 0 rgba(0, 0, 0, 0.705), 0 -0.03em rgba(0, 0, 0, 0.705);
}

.cards-area {
  display: flex;
  margin-top: 10vh;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
